<div class="todo">

  <!-- add new item form  -->
  <form class="todo__form" ng-submit="todo.addTodo();">
    <input type="text" placeholder="Add a new item" ng-model="todo.newTodo">
  </form>

  <!-- items list -->
  <ul class="todo__list">
    <li ng-repeat="item in todo.list">
      <!-- checkboxes -->
      <input
        type="checkbox"
        id="todo-{{ $index }}"
        ng-model="item.completed"
        ng-change="todo.toggleState(item);"
      >
      <label class="toggle" for="todo-{{ $index }}"></label>

      <!-- edit an item on the list -->
      <p ng-dblclick="showEditField = true;" ng-hide="showEditField">
        {{ item.title }}
      </p>
      <div ng-show="showEditField">
        <input
          type="text"
          ng-model="item.title"
          ng-blur="todo.updateTodo(item, $index); showEditField = false;"
          todo-autofocus="showEditField"
        >
      </div>
        <!-- remove item from list -->
      <a href="" ng-click="todo.removeTodo(item, $index);">
        &#215;
      </a>
    </li>
  </ul>

  <!-- todo item summary -->
  <p class="todo__remaining">
    <span ng-if="todo.getRemaining().length > 0">
      You have {{ todo.getRemaining().length }} of {{ todo.list.length }} items remaining
    </span>
    <span ng-if="todo.getRemaining().length === 0">
      Yay!  All done here
    </span>
  </p>
</div>
