<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/angular.js"></script>
    <script src="https://use.fontawesome.com/d8ef83d7a7.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  </head>

  <body>
    <div class="todo" ng-controller="TodoController as todo">

      <!-- add new item form  -->
      <form class="todo__form" ng-submit="todo.addTodo();">
        <input type="text" placeholder="Add a new item" ng-model="todo.newTodo">
      </form>

      <!-- items list -->
      <ul class="todo__list">
        <li ng-repeat="item in todo.list">
          <input type="checkbox" id="todo-{{ $index }}" ng-model="item.completed">
          <label class="toggle" for="todo-{{ $index }}"></label>

          <!-- edit an item on the list -->
          <p ng-dblclick="showEditField = true;" ng-hide="showEditField">
            {{ item.title }}
          </p>
          <div ng-show="showEditField">
            <input
              type="text"
              ng-model="item.title"
              ng-blur="todo.updateTodo(item, $index); showEditField = false;">
          </div>
            <!-- remove item from list -->
          <a href="" ng-click="todo.removeTodo(item, $index);">
            &#215;
          </a>
        </li>
      </ul>

      <!-- todo item summary -->
      <p class="todo__remaining">
        <span ng-if="todo.getRemaining().length > 0">
          You have {{ todo.getRemaining().length }} of {{ todo.list.length }} items remaining
        </span>
        <span ng-if="todo.getRemaining().length === 0">
          Yay!  All done here
        </span>
      </p>
    </div>

    <div class="footer">
      Made with <span class="fa fa-heart" aria-hiden="true"></span> in NYC
    </div>


    <script src="js/libs/app.js"></script>
    <script src="js/libs/todo.controller.js"></script>
    <script src="js/libs/todo.service.js"></script>
  </body>
</html>
